@media screen and (min-width:500px) and (max-width:800px) 
{
    .home-page{
        flex-direction: column;
        padding: 15px;
    }
    .trending{
        width: 100%;
        text-align: center;
    }
    h2.brutal, h2.THOUGHTS , h2.BOLD{
        font-size: 32PX;
    }
    .discription{
        width: 100%;
        margin: 10PX 0;
    }
    .buttons{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 15px 0;
    }
    .home-img{
        width: 100%;
        margin-top: 15px;
        position: relative;
    }
    .home-img .featured{
        width: 100%;
    }
    .home-img .featured img{
        width: 100%;
        height: auto;
    }
    .featured{
        font-size: 12px;
    }
}
@media screen and (min-width:500px) and (max-width:800px)
{
    .nav-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .links{
        display: none;
        width: 100%;

    }
    .links ul{
        flex-direction: column;
        list-style: none;
        padding: 10px 0;
    }
    .links ul li{
        padding: 8px 15px;
        border-bottom: 1px solid #eee
    }
    .links ul li img{
        display: none;
    }
}
@media screen and (min-width:500px) and (max-width:800px)
{
 .fresh-content{
     width: 100%;
}
.articles{
    display: block;
    text-align: center;
}
.tech{
    width: 100%;
}
.new img{
    width: 50%;
}
.sticy
{
    width: 100%;
    margin: 30px auto;
}
.authors{
    display: block;
}
.authors .alex{
    width: 100%;
     margin: 50px auto;
}
.authors .arnold{
    width: 100%;
     margin: 50px auto;
}
.authors .mike{
    width: 100%;
     margin: 50px auto;
}
.rebellion{
    display: block;
}
.left-side{
    width: 100%;
}
.right-side{
    width: 100%;
}
.footer{
    display: block;
}
.ux-review{
    width: 100%;
}
.new span{
    background-color: #FB2C36;
    color: white;
    position: absolute;
    top: 15px;
    left: 40px;
    padding: 2px;
     border: solid 2px black;
     font-size: small;
    
}
.tech img{
    width: 50%;
    margin-right: 20px;
    margin-top: 20px;
    height: 70px;
    border: solid 2px;
  
}
.hot span{
    background-color: #FB2C36;
    color: white;
    position: absolute;
    top: 15px;
    left: 40px;
    padding: 2px;
     border: solid 2px black;
     font-size: small;
    
}
.design img{
    width: 50%;
    margin-right: 20px;
    margin-top: 20px;
    height: 70px;
    border: solid 2px;
  
}
.VIRAL span{
    background-color: #FB2C36;
    color: white;
    position: absolute;
    top: 15px;
    left: 35px;
    padding: 2px;
     border: solid 2px black;
     font-size: small;
     width: 35px;
    
}
.CULTURE img{
    width: 50%;
    margin-right: 20px;
    margin-top: 20px;
    height: 70px;
    border: solid 2px;
  
}
.newsletter .sub{
    width: 70%;
}
.content-articles{
display: block;
}
.stikky{
    margin-top: 50px;
}

}


    

    
